

/* positioning */
body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
}

#root .Container{
    height: 313px;
    width:550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-box{
    height: 252.8px;
    width: 550px;
}

.quote-text{
    width:450px;
    height: 170.2px;
}

#author{
    width: 450px;
    height: 39px;
    display: flex;
    justify-content: flex-end;
    font-size: 1em;
}

#text{
    width:450px;
    height: 131.2px;

}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttonSet2{
    float:left;
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.buttonSet1{
    float:left;
    width: 10%;
}
.buttonSet3{
    float:left;
    width: 35%;
}
.buttonSet4{
    float:left;
    width: 20%;
}

#quotesub1{
    float:left;
    width: 10%;
}
#quotesub2{
    float:left;
    width: 90%;
    font-size: larger;
}


/* colors etc.. */
.quote-box{
    background-color: white;
}

.quote-text{
    margin-top: 25px;
    margin-left: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}